@import "_nullstyle";

body{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
background-color: rgb(237, 230, 205);
}
header{
	display: flex;
	flex-direction: column;
	align-items: center;
	img{ max-width: 380px;
	}
	p{
		letter-spacing: 0.3px;
	}
}
.main {
}
.wrapper {
	letter-spacing: 0.3px;
	display: flex;
	flex-direction: column;
	align-content: center;
}
h1{
	font-size: 50px;
}
h2{
	margin: 0 0 20px 0;
}
.content {
	max-width: 1180px;
	margin: 0 auto;
}
.text {
		&__info {
			font-size: 16px;
			line-height: 28px;
			p{
				padding: 10px 0 20px 0;
			}
		}

		&__icon {

		}

		&__reklama {
		}

		&__title {
		}

		&__variant {
			outline: auto;
			margin: 0 0 20px 0;
			width: 800px;
		}
}
.container {
}
.list {
}
.adress {
	
	
}
.footer {
	letter-spacing: 0.3px;
	line-height: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	&__title {
		font-size: 20px;
		padding: 20px 0 0 0;
		margin: 0 auto;
		background-color: rgb(39, 38, 38);
		
		
		
	}
	&__foot{
		display: flex;
		background-color: rgb(39, 38, 38);
		
	}
		&__icon {
			img{
				max-width: 280px;
			}
		}

		&__text {
			margin: 30px 0 0 20px;
			font-size: 16px;
			
		}

		&__info {
		text-decoration: center;
		
		background-color: black;
		color: white;
		}
}
